<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="description" content={{or .Params.description .Site.Params.description}}>
  <meta name="google-adsense-account" content="ca-pub-5241206183807315">
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="icon" href="/images/favicon.png" />
  <link rel="canonical" href="{{ .Permalink }}" />
  <title>{{ if .IsHome }}itchronicles{{ else }}{{ .Title }} - itchronicles{{ end }}</title>
  <meta property="og:title" content="itchronicles - Technology Blog & Knowledge Base">
  <script src="https://cdn.jsdelivr.net/npm/fuse.js@6.6.2" defer></script>   <!-- Fuse.js - Lightweight fuzzy-search library used for site search functionality -->
  <script src="/js/search.js" defer></script>
</head>
<body>
  <div class="container">
    {{ partial "navbar" . }}
    {{ block "main" . }} {{ end }}
    {{ partial "footer" . }}
  </div>
  <!-- Move scripts to end of body and add defer -->
  <script src="/js/app.js"></script>
  <script src="/js/copyCode.js" defer></script>
  <script src="/js/slider.js" defer></script>
</body>
</html>
